<!-- ESCRIBIR html:5 para AUTOCOMPLETADO DEL ESQUELETO HTML -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
</head>
<body>
    
    <h1>Hola Mundo Cruel</h1>
    <!-- Listas No Ordenadas -->
    <ul>
        <li><a href="{{url_for('contacto')}}">Contacto</a></li>
        <li>libro</li>
        <li>agua</li>
    </ul>
    <!-- Listas Ordenadas -->
     <ol>
        <li>Importar Flask</li>
        <li>Crear App</li>
    </ol>
    <!-- Listas Definicion -->
    <dl>
        <dt>Elemento1</dt><dd>El elemento 1 hace magia</dd>
        <dt>Elemento2</dt><dd>El elemento 1 hace fuego</dd>
    </dl>

    <div>
        <ul>
            <li>mochila</li>
            <li>libro</li>
            <li>agua</li>
        </ul>
    </div>

</body>
</html>
